@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Общие стили */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p{
    margin: 0;
}

p + p{
    margin-top: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    box-sizing: border-box;
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity .2s ;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    width: 165px;
    height: 50px;

    border-radius: 5px;
    background: #f6762c;
}

.btn:hover{
    opacity: 0.7;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

/* Шапка */


.header {
    padding: 25px 0;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list{
    display: flex;
    gap: 30px;
}

.header_nav {}

.header_nav a {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7;

    transition: opacity .3s ;
}

a.active {
    font-weight: 600;
    font-size: 15px;
    opacity: 1;
}

.header_nav a:hover{
    opacity: 0.9;
}

/* Welcome */


.welcome {
    box-sizing: border-box;
    min-height: 100vh;

    padding: 240px 0;
    margin-top: -100px;

    background-image: url("./images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome_text {
    max-width: 550px;
}
.welcome_subtitle {
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 7px;

    opacity: 0.8;
}

.welcome_title {
    font-size: 58px;
    margin-bottom: 40px;

}

.welcome_desk {
    font-weight: 400;
    font-size: 18px;
    opacity: 0.7;

    margin-bottom: 50px;
}

/* food-list */

.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list_card {
    width: 260px;
    border-radius:10px;
    
    text-align: center;
    overflow: hidden;

    background-color: #312F30;
}

.food-list_img {
    max-width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list_title {
    

    font-size: 20px;
    margin-bottom: 13px;
}

.food-list_desc {
    padding: 0 20px;
    padding-bottom: 30px;
    opacity: 0.7;
}

.order {
    background-color: #312F30;
    padding: 60px 0;
}

.order_img {
    max-width: 470px;
}

.order_text {
    max-width: 360px;
}

.order_desc {
    margin-bottom: 12px;

    opacity: 0.7;

    font-weight: 400;
    font-size: 16px; 
}

.order_title {
    margin-bottom: 25px; 

    font-size: 44px;
}
.order_price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.order_old-price {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    color: #f6762c;
    opacity: 0.5;
}

.order .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
}
.order .btn {
    margin-top: 10px;
}

/* product */

.product {
    padding: 150px 0;
}

.product .container {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    justify-content: center;
}

.product_card {
    box-sizing: border-box;

    background-color: #312F30;
    /* зачем нужны следующие 3 блока погуглить */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    max-width: 555px;
    max-height: 300px;

    padding: 20px 30px 60px 290px;
}

.product_card:nth-child(even){ /* не особо понятно, потом загуглить. Выбирает и изменяет каждую 2ю карту*/
    padding-left: 30px;
    padding-right: 290px;
}

.product .order_title {
    font-size: 30px;
}

.product .order_price {
    font-style: 16px;
    padding-top: 0;
}

.btm--small {
    border-radius: 5px;
    width: 141px;
    height: 39px;

    font-size: 12px;

    margin-top: 10px;
} 

/* гемаророй */
.card-p1 {
    background-image: url(./images/product-1.jpg);
}
.card-p2{
    background-image: url(./images/product-2.jpg);
}

.card-p3{
    background-image: url(./images/product-3.jpg);
}

.card-p4{
    background-image: url(./images/product-4.jpg);
}

/* Feedback */

.feedback {
    padding-bottom: 200px;
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 880px;
}

.feedback_img {

}

.feedback_text {
    max-width: 370px;   
    text-align: center;

    margin: 0;

    display: flex;
    flex-direction: column
    ;
}

.feedback_text::before {
    content: url(./images/icons/quote.svg);

    margin-bottom: 40px;
}

.feedback_desc {
    opacity: 0.7;

    font-size: 16px;
    margin-bottom: 30px;
}

.feedback_cite {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.feedback_sub {
    font-weight: 500;
    font-size: 12px;

    opacity: 0.7;
}

/* Download */

.download {
    padding: 60px 0;
    background: #312f30;
    margin-bottom: 120px;
}

.download_title {
    font-size: 40px;
}


.download .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* footer */

.footer {
}

.footer a {
    font-size: 12px;
    opacity: 0.8;

    transition: 0.2s;
}

.footer a:hover{
    opacity: 0.9;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer_contacs {

}

.footer_contacs a {
    display: block;
}

.footer_logo {
    display: inline-block;
    width: 70px;
    margin-bottom: 20px;
}

.footer_link {

}

.footer_link-mail {
    margin-bottom: 10px;
}

.footer_link-mail::before {
    content: url(/images/icons/mail.svg);
    
    margin-right: 8px;

}

.footer_link_footer_link-web::before {
    content: url(/images/icons/global.svg);

    margin-right: 5px;
}

.footer_nav {

}

.footer_list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.footer_list-title {

}

.footer .footer_title {
    font-weight: 500;
    font-size: 16px;

    opacity: 1;

    display: inline-block;
    padding-bottom: 15px;
}

.footer_inner-list {

}

.footer_list-item {
    display: block;
    padding-bottom: 13px;
    
}

.footer_social {

}

.footer_social-icons {
    display: flex;
    gap: 7px;
}


@media (max-width: 850px) {
    .welcome_desk {
        opacity: 1;
    }

    .order_img{
        min-width: 320px;

        padding-right: 10px;
    }
    
    .food-list .container {
        justify-content:space-evenly;
    }

    .footer .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav nav" "contact social";

        justify-items: center;
        gap: 20px 180px;
    }

    .footer_contacs {
        grid-area: contact;
        justify-self: end;
    }

    .footer_nav{
        grid-area: nav;
    }

    .footer_list {
        gap: 100px;
    }

    .footer_social {
        justify-self: start;
        align-self: center;
        grid-area: social;
    }
}

@media (max-width: 650px) {
    .header .btn {
        display: none;
    }

    .header .container {
        justify-content: start;
        gap: 10px;
    }
}

@media (max-width: 500px) {

    .order .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .feedback_img{
        max-width: 50%;
    }

    .product_card {
        max-width: 100%;
    }
}